# --- System Junk (Mac/Windows) ---
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# --- Python Logic Caches ---
__pycache__/
*.py[cod]
*$py.class

# --- Environment & Security ---
.env
.venv
env/
venv/